<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <div class="navbar">
        <ul>
            <li class="marketcap" onclick="setActivePage('marketcap')">
                Market Cap
                <span id="marketCapAll"></span>
            </li>
            <li class="portfolio" onclick="setActivePage('portfolio')">Portfolio</li>
            <li class="favorite" onclick="setActivePage('favorite')">Favorite</li>
            <li class="trade" onclick="setActivePage('trade')">Trade</li>
            <li class="settings" onmouseover="showHoverMenu()" onmouseout="hideHoverMenu()">
                Settings
                <div class="hoverMenu">
                    <div class="userInfo">
                        👋 Hi, <span id="name"></span>
                    </div>
                    <hr style="border-color: rgb(111, 111, 111); width: 90%; margin: 0 auto;">
                    <a href="#">Theme</a>
                    <a href="#" onclick="showCurrency()">Currency</a>
                    <a href="/render/forgotPassword">Change password</a>
                    <button href="#" onclick="logout()">Logout</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="popup" id="currencyPopup">
        <button onclick="closeCurrency()" id="popupClose">X</button><br>
        <h3>Choose a currency</h3>
        <select id="currency-dropdownPopup">
            <option value="USD">United States - USD</option>
            <option value="CAD">Canada - CAD</option>
            <option value="EUR">Euro - EUR</option>
        </select><br>
        <button onclick="submitCurrency()" class="submitBtn">Submit</button>
    </div>
</body>

</html>
<script>
    function showHoverMenu() {
        const hoverMenu = document.querySelector('.settings .hoverMenu');
        hoverMenu.style.display = 'block';
    }
    function hideHoverMenu() {
        const hoverMenu = document.querySelector('.settings .hoverMenu');
        hoverMenu.style.display = 'none';
    }
    function showCurrency() {
        document.getElementById('currencyPopup').style.display = 'block';
        hideHoverMenu()         
    }
    function closeCurrency() {
        document.getElementById('currencyPopup').style.display = 'none';
    }
    const submitCurrency = async () => {
        const hoverMenu = document.querySelector('.settings .hoverMenu');
        const currencyValue = document.getElementById('currency-dropdownPopup').value

        try {
            const response = await fetch('/crypto/updateCurrency', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    currency: currencyValue
                })
            })
            document.getElementById('currencyPopup').style.display = 'none';
            location.reload()
        } catch (error) {
            console.log(error)
        }
    }
    const logout = async () => {
        try {
            const response = await fetch('/authentication/logout', {
                method: 'POST'
            })

        } catch (error) {
            console.log(error)
        }
    }
    const getMarketCap = async () => {
        let marketCapAll = document.getElementById("marketCapAll")
        try {
            const response = await fetch('/crypto/marketCap', {
                method: 'GET'
            })
            const data = await response.json()
            const marketCap = data.marketCap
            const formatMarketCap = formatCurrency(marketCap)
            marketCapAll.textContent = formatMarketCap
            return marketCap
        } catch (error) {
            console.log(error)
        }
    }
    const getName = async () => {
        const name = document.getElementById("name")
        try {
            const response = await fetch('/authentication/user', {
                method: 'GET',
            })
            const username = await response.json()
            name.textContent = username
            console.log(username)
        } catch (error) {
            console.log(error)
        }
    }
    getName()
</script>