{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-ejs"
    ],
    "overrides": [
        {
            "files": "*.ejs",
            "options": {
                "parser": "html"
            }
        }
    ]
}